<table class='table'>
  <tr><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
    <% @user ||= current_user %>
			<th>follows</th>
			<th><a href="<%= following_user_path(@user) %>">
			    <strong id="follower" class="stat">
			      <%= @user.follower.count %>
			    </strong>
			  </a>
			</th>
  <tr>
    <tr>
			<% @user ||= current_user %>
			<th>followers</th>
			 <th><a href="<%= followers_user_path(@user) %>">
			    <strong id="followed" class="stat">
			      <%= @user.followed.count %>
			    </strong>
			  </a>
			</th>
		</tr>
    
    
  </tr>
</table>

<div class='row'>
  <%= link_to '',edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{current_user.id}" %>
</div>